<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Drug Validation</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	
     <script src="https://cdn.jsdelivr.net/gh/ethereum/web3.js/dist/web3.min.js"></script>
 
	
	<style type="text/css">
	body
		{
			/*background-color: #090b1e;*/
			background :url("pic3.jpg");
			 background-size: cover;
			 
		}
		.card{
			padding: 10px;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		}
		form {
			padding: 10px;
		}
		.container h3,p{
			color: white;
		}
		.nav-link{
			color: white;
		}
		.nav-link:hover{
			color: #84b3ff;
		}
	</style>
</head>
<body>
		<div class="container-fluid">
		<nav class="navbar col-bg-12">
			<ul class="nav nav-pills">
		  <li class="nav-item">
		    <a class="nav-link " href="Home.html">Home</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link " href="Drugentry.html">Drug Entry</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link active" href="Drugvalidation.html">Drug Validation</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" href="Drugupdation.html">Ownership Updation</a>
		  </li>
		</nav>
	</div>
		<br><br><br>
	<div class="container col-blg-12">
		<center>

		<h3>Validate the Drug !</h3>
		<p>Enter The Unique ID of the Drug : </p>
		<input type="text" style="width:50%;" placeholder="Enter uniqueID" id="uniqueID" name="uniqueID">
		<button class="btn btn-info" id="verify">Verify</button>

	 <h2 id="instructor" style="color:white"></h2>
</center>
	</div>
	<br><br><br><br><br>
	<div class="container bottom">
	<footer>
		<center><small>
	<p>&copy;Team Access Dismissed - participated in Bitcamp-2K19</a>.</p>
		</center></small>
	</footer>
</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>

   <script>
        if (typeof web3 !== 'undefined') {
            web3 = new Web3(web3.currentProvider);
        } else {
            web3 = new Web3(new Web3.providers.HttpProvider("http://localhost:7545"));
        }

        web3.eth.defaultAccount = web3.eth.accounts[0];

         var addr = '0xbbf289d846208c16edc8474705c748aff07732db'; 
         var abi = [
	{
		"constant": false,
		"inputs": [
			{
				"name": "drug_id",
				"type": "uint256"
			},
			{
				"name": "oname",
				"type": "string"
			}
		],
		"name": "addTransactions",
		"outputs": [
			{
				"name": "",
				"type": "string[]"
			}
		],
		"payable": false,
		"stateMutability": "nonpayable",
		"type": "function"
	},
	{
		"constant": false,
		"inputs": [
			{
				"name": "_fName",
				"type": "string"
			},
			{
				"name": "_drug_id",
				"type": "uint256"
			},
			{
				"name": "_oname",
				"type": "string"
			}
		],
		"name": "setDrug",
		"outputs": [],
		"payable": false,
		"stateMutability": "nonpayable",
		"type": "function"
	},
	{
		"anonymous": false,
		"inputs": [
			{
				"indexed": false,
				"name": "name",
				"type": "string"
			},
			{
				"indexed": false,
				"name": "drug_id",
				"type": "uint256"
			},
			{
				"indexed": false,
				"name": "oname",
				"type": "string"
			}
		],
		"name": "Drug",
		"type": "event"
	},
	{
		"constant": true,
		"inputs": [],
		"name": "count",
		"outputs": [
			{
				"name": "",
				"type": "uint256"
			}
		],
		"payable": false,
		"stateMutability": "view",
		"type": "function"
	},
	{
		"constant": true,
		"inputs": [
			{
				"name": "",
				"type": "uint256"
			}
		],
		"name": "drug_count",
		"outputs": [
			{
				"name": "",
				"type": "uint256"
			}
		],
		"payable": false,
		"stateMutability": "view",
		"type": "function"
	},
	{
		"constant": true,
		"inputs": [
			{
				"name": "",
				"type": "uint256"
			}
		],
		"name": "drug_owner_list",
		"outputs": [
			{
				"name": "",
				"type": "string"
			}
		],
		"payable": false,
		"stateMutability": "view",
		"type": "function"
	},
	{
		"constant": true,
		"inputs": [],
		"name": "getDrug",
		"outputs": [
			{
				"name": "",
				"type": "string"
			},
			{
				"name": "",
				"type": "uint256"
			},
			{
				"name": "",
				"type": "string"
			}
		],
		"payable": false,
		"stateMutability": "view",
		"type": "function"
	},
	{
		"constant": true,
		"inputs": [
			{
				"name": "drug_id",
				"type": "uint256"
			}
		],
		"name": "getTransactions",
		"outputs": [
			{
				"name": "",
				"type": "string[]"
			}
		],
		"payable": false,
		"stateMutability": "view",
		"type": "function"
	},
	{
		"constant": true,
		"inputs": [],
		"name": "getTransactionsLength",
		"outputs": [
			{
				"name": "",
				"type": "uint256"
			}
		],
		"payable": false,
		"stateMutability": "view",
		"type": "function"
	},
	{
		"constant": true,
		"inputs": [
			{
				"name": "",
				"type": "uint256"
			},
			{
				"name": "",
				"type": "uint256"
			}
		],
		"name": "Record",
		"outputs": [
			{
				"name": "",
				"type": "string"
			}
		],
		"payable": false,
		"stateMutability": "view",
		"type": "function"
	},
	{
		"constant": true,
		"inputs": [
			{
				"name": "_drug_id",
				"type": "uint256"
			}
		],
		"name": "validateDrug",
		"outputs": [
			{
				"name": "",
				"type": "bool"
			}
		],
		"payable": false,
		"stateMutability": "view",
		"type": "function"
	}
]

var CoursetroContract = web3.eth.contract(abi);


        var Coursetro = CoursetroContract.at(addr);

       $("#verify").click(function() {
	   console.log('Clicked');

           var age = $("#uniqueID").val();
           Coursetro.validateDrug(age, (err, res) => {
                if (err) {
                  
                    console.log('oh no');
                }
                var result = res.toString();
                console.log(result);
                $("#instructor").html(result);
  
            });
       });



    </script>

    </script>

</html>