<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Drug Updation</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<style type="text/css">
		.card1{
			padding: 10px;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		}
		form {
			padding: 10px;
		}
	</style>	
</head>
<body>
	<div class="container">
		<div class="container">
		<nav class="navbar col-bg-12">
			<ul class="nav nav-tabs">
		  <li class="nav-item">
		    <a class="nav-link " href="Home.html">Home</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link " href="Drugentry.html">Drug Entry</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" href="Drugvalidation.html">Drug Validation</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link active" href="Ddrugupdation.html">Ownership Updation</a>
		  </li>
		</nav>
	</div>
		<br><br><br>
		<div class="container col-lg-4">
			<div class="card1">
				<form>
	  				<div class="form-group ">
	    			<label for="COname">Current Owner's Name : </label>
	    			<input type="text" class="form-control" id="COname" placeholder="Enter Owner's Name">
	  				</div>
	  				<div class="form-group ">
	    			<label for="UID">Unique ID : </label>
	    			<input type="text" class="form-control" id="UID" placeholder="Enter the Unique ID of the drug">
	  				</div>
	  				<button type="submit" class="btn btn-info" formaction="#" onclick=" ">Submit</button>
				</form>
			</div>
		</div>
	<br><br><br><br><br>
	<div class="container bottom">
	<footer>
		<center><small>
	<p>&copy;Team Access Dismissed - participated in Bitcamp-2K19</a>.</p>
		</center></small>
	</footer>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
</html>
			