<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Drug Entry</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>	

	<script language="javascript" type="text/javascript" src="web3.min.js"></script>
	<style type="text/css">
		.card{
			padding: 10px;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		}
		form {
			padding: 10px;
		}
		body
		{
			background-color: #090b1e;
		}
		.container p{
			color: white;
		}
		h3{
			color: white;
		}
	</style>

</head>
<body>
		<div class="container-fluid">
		<nav class="navbar col-bg-12">
			<ul class="nav nav-pills">
		  <li class="nav-item">
		    <a class="nav-link " href="Home.html">Home</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link active" href="Drugentry.html">Drug Entry</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" href="Drugvalidation.html">Drug Validation</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" href="Drugupdation.html">Ownership Updation</a>
		  </li>
		</nav>
	</div>
		<br>
		<div class="container col-lg-4">
			<h3>Add drug in the list</h3>
			<div class="card">
				<form>
					<div class="form-group">
	    			<label for="Dname">Drug Name : </label>
	    			<input type="text" class="form-control" id="Dname" placeholder="Enter Drug Name">
	  				</div>
	  				<div class="form-group ">
	    			<label for="Oname">Owner's Name : </label>
	    			<input type="text" class="form-control" id="Oname" placeholder="Enter Owner's Name">
	  				</div>
	  				<div class="form-group ">
	    			<label for="Oname">Drug ID : </label>
	    			<input type="text" class="form-control" id="DId" placeholder="Enter ID">
	  				</div>
	  				<div class="form-group ">
	    			<label for="Edate">Expiry Date : </label>
	    			<input type="date" class="form-control" id="Edate" placeholder="Enter Expiry date">
	  				</div>
	  				<div class="form-group ">
	    			<label for="Mrp">MRP (in Rs.) : </label>
	    			<input type="text" class="form-control" id="Mrp" placeholder="Enter the price of drug">
	  				</div>
	  				<button type="submit" class="btn btn-info" formaction="#" id="Entry">Submit</button>
				</form>
			</div>
		</div>
	<br><br>
	<div class="container bottom">
	<footer>
		<center><small>
	<p>&copy;Team Access Dismissed - participated in Bitcamp-2K19</a>.</p>
		</center></small>
	</footer>
</body>
<script src="web3.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script>
if (typeof web3 != 'undefined') 
{
 web3 = new Web3(web3.currentProvider);
 } 
else 
{
web3 = new Web3(new Web3.providers.HttpProvider("http://localhost:8545"));
 }
 	web3.eth.defaultAccount = web3.eth.accounts[0];
 	var DrugContract = web3.eth.contract([
	{
		"constant": true,
		"inputs": [
			{
				"name": "_drugId",
				"type": "uint256"
			}
		],
		"name": "verify",
		"outputs": [
			{
				"name": "",
				"type": "bool"
			}
		],
		"payable": false,
		"stateMutability": "view",
		"type": "function"
	},
	{
		"constant": true,
		"inputs": [],
		"name": "owner",
		"outputs": [
			{
				"name": "",
				"type": "address"
			}
		],
		"payable": false,
		"stateMutability": "view",
		"type": "function"
	},
	{
		"constant": true,
		"inputs": [
			{
				"name": "",
				"type": "uint256"
			}
		],
		"name": "drugs_id",
		"outputs": [
			{
				"name": "",
				"type": "uint256"
			}
		],
		"payable": false,
		"stateMutability": "view",
		"type": "function"
	},
	{
		"constant": false,
		"inputs": [
			{
				"name": "_owner",
				"type": "string"
			},
			{
				"name": "_drugId",
				"type": "uint256"
			},
			{
				"name": "_drugName",
				"type": "string"
			},
			{
				"name": "_date",
				"type": "string"
			},
			{
				"name": "_mrp",
				"type": "string"
			}
		],
		"name": "addDrug",
		"outputs": [
			{
				"name": "",
				"type": "uint256"
			}
		],
		"payable": false,
		"stateMutability": "nonpayable",
		"type": "function"
	},
	{
		"constant": true,
		"inputs": [
			{
				"name": "",
				"type": "uint256"
			}
		],
		"name": "drugs",
		"outputs": [
			{
				"name": "ownername",
				"type": "string"
			},
			{
				"name": "drugId",
				"type": "uint256"
			},
			{
				"name": "drugName",
				"type": "string"
			},
			{
				"name": "date",
				"type": "string"
			},
			{
				"name": "mrp",
				"type": "string"
			}
		],
		"payable": false,
		"stateMutability": "view",
		"type": "function"
	},
	{
		"inputs": [],
		"payable": false,
		"stateMutability": "nonpayable",
		"type": "constructor"
	}
]);

var Drugs = DrugContract.at('0x390a658ebe87ea107ff948385f97efd5e4a239b7');

$('Entry').click(function(){
	var oname = $('Oname').value();
	var dname = $('Dname').value();
	var did = $('DId').value();
	var exp = $('Edate').value();
	var mrp = $('Mrp').value();
	Drugs.addDrug(oname,did,dname,exp,mrp);
})

</script>
</html>
			