<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Index</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<script>
		function verify(){
		var mail = document.getElementById("exampleInputEmail1").value;
		var pwd = document.getElementById("exampleInputPassword1").value;
		if(mail != "abc@gmail.com" || pwd != 12345)
			{
				alert("Incorrect Mail id or Password");
				return false;
				}
		else 
		return true;		
		}
		

			</script>
</head>
<body>
	<div class="container">
		<nav class="navbar col-bg-12">
			<ul class="nav nav-tabs">
		  <li class="nav-item">
		    <a class="nav-link active" href="Home.html">Home</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link " href="drugentry.html">Drug Entry</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link " href="drugvalidation.html">Drug Validation</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link " href="drugupdation.html">Ownership Updation</a>
		  </li>
		</nav>
	</div>
		<br><br><br>
	<div class="container col-lg-3">
		<h3>Login here first !</h3>
	<form >
	  	<div class="form-group ">
	    <label for="exampleInputEmail1">Email address</label>
	    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
	  </div>
	  <div class="form-group">
	    <label for="exampleInputPassword1">Password</label>
	    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
	  </div>
	  <button type="submit" class="btn btn-success" formaction="index.html" onclick="return verify()">Submit</button>	 
	</form>
	</div>
	<br><br><br><br><br>
	<div class="container bottom">	
	<footer>
		<center><small>
	<p>&copy;Team Access Dismissed - participated in Bitcamp-2K19</a>.</p>
		</center></small>
	</footer>
</body>
</html>